html {
  background-color: #e5e5e5;
}

.global-wrapper {
  max-width: 60%;
  background-color: #fff;
  padding-left: 10%;
  padding-right: 10%;
}

.global-wrapper footer {
  color: #e63946;
  font-size: 0.7rem;
}

/* Post List Item on Index page */
.post-list-item .title-and-tags-container {
  display: inline-block;
}

.post-list-item h2 {
  color: #1d3557;
  font-size: 16px;
  font-weight: 400;
}

.post-list-item small {
  float: right;
  color: #457b9d;
}

.post-list-item {
  border-bottom: rgb(237, 237, 237) solid 0.1px;
  font-weight: 200;
}

.post-list-item .tags {
  border-radius: 1px;
  padding: 2px 6px;
  font-size: 60%;
  background-color: #f1faee;
  color: #457b9d;
  list-style: none;
  margin-right: 2%;
}

.header-wrapper .logo {
  float: left;
  width: 70px;
  height: 50px;
}

.header-wrapper .main-heading {
  position: relative;
  padding-left: 2em;
  font-weight: 300;
  font-size: 40px;
  padding-top: 2px;
  color: #1d3557;
}

/* Blog Post Page */
.blog-post h1 {
  color: #1d3557;
  font-weight: 300;
  font-size: 2em;
}

.blog-post .date-container {
  color: #457b9d;
  font-weight: 200;
  font-size: 0.8em;
}
/* https://coolors.co/e63946-f1faee-a8dadc-457b9d-1d3557 */
